$bgcolor: #43A047;
$max-width: 1200px;

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 600px;
  background-color: $bgcolor;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;

  .hide {
    display: none !important;
  }
  .show {
    display: block;
  }

  h1 {
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    padding: 0 0 1em;
  }

  pre {
    margin: 0;
  }

  code {
    padding: 0 2px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
  }

  li {
    line-height: 1.5;
  }

  a {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: #fff;
    }
  }

  p {
    padding-bottom: 1em;
  }
}

#root {
  height: 100%;

  >div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

header {
  width: 100%;
  background-color: #017066;
  color: white;

  .content {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    min-height: 64px;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;

    section {
      display: flex;
      align-items: center;
    }
  }
  .title {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 16px;
    line-height: 1.5rem;
  }
  .block-toolbar {
    flex-grow: 1;

    .mdc-tab-bar {
      margin: 0;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      height: 48px;
      text-transform: uppercase;

      .mdc-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto, sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.04em;
        line-height: 1.5rem;
        min-width: 160px;
        min-height: 48px;
        padding: 0 24px;
        text-decoration: none;
        cursor: pointer;
        color: white;
        position: relative;

        &.mdc-tab--active,
        &:active,
        &:hover {
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 46px;
            left: 0;
            width: calc(100% - 4px);
            height: 2px;
            pointer-events: none;
            background-color: white;
          }
        }
      }
    }
  }
}

main {
  flex-grow: 1;

  .content {
    max-width: $max-width;
    margin: 0 auto;
  }
}

footer {
  padding-bottom: 1.5em;
}


.page {
  padding: 1.5em 1em;
}

.topics {
  display: flex;
  padding: 0 1rem;

  .mdc-permanent-drawer {
    border-right: 1px solid #37813a;
    width: 240px;
    min-width: 240px;

    .mdc-list {
      padding: 15px 0 0 5px;
    }

    .mdc-list-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 16px;
      outline: none;
      text-decoration: none;
      font-family: Roboto, sans-serif;
      font-size: 0.875em;
      height: 56px;

      &.selected, &:hover {
        background-color: #3b7f3e;
      }

      .start-detail {
        color: rgba(0, 0, 0, 0.54);
        width: 40px;
        height: 40px;
        margin-left: 0;
        margin-right: 16px;
        border-radius: 50%;
      }
    }
  }

  .books {
    flex-grow: 1;

    .mdc-layout-grid {
      display: flex;
      flex-wrap: wrap;

      >div {
        flex: 1 0 320px;
        margin-left: 16px;
      }
      .mdc-card {
        margin-top: 16px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        overflow: hidden;
      }
      .mdc-card__horizontal-block {
        flex-grow: 1;
        display: flex;
        align-items: start;

        .mdc-card__media-item {
          margin: 16px 0 0 16px;
          width: 100px;
        }
        .mdc-card__primary {
          padding: 16px;

          .mdc-card__title--large {
            padding-bottom: .5em;
            font-family: Roboto, sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
          }
          .mdc-card__subtitle {
            font-family: Roboto, sans-serif;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin: -.063rem 0;
          }
        }
      }
      .mdc-card__actions {
        display: flex;
        padding: 8px;
      
        .mdc-card__action {
          margin: 0 8px 0 0;
      
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .mdc-button {
        font-family: Roboto, sans-serif;
        min-width: 64px;
        height: 36px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }
}

.actions {
  display: flex;
  padding: 16px;

  .mdc-card__action {
    margin: 0 8px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.login {
  margin: 3rem 0;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mdc-textfield {
      margin-bottom: 16px;
    }
  }
}

//___________________________________________________________________________________

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 225px;
  padding: 0 1em 1em;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;

  &:after {
    content: '';
    position: absolute;
    top: -12px;
    left: 12px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2c3e50;
  }  
}

#share {
  // display: none;
  margin-bottom: 3em;
  text-align: center;
}

.img-next {
  text-align: center;

  img {
    display: inline-block;
    margin: 1em;
    width: 200px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }  
  }
}

#editor {
  position: relative;
}

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #aaa;
}

#css {
  height: 260px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 6px;
  text-align: right;
  background-color: #999;
  color: #D5D5D5;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}

#level-counter {
  float: none;
  margin: 30px 0 0;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 15px;
  margin: 30px 0px 0px;
  user-select: none;
}

#levelsWrapper {
  top: 30px;
  right: 20px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;

  &:after {
    left: calc(50% - 12px);
  }  
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  &.current,
  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  &.solved {
    background-color: #228B24;
  }  
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
}

#level-indicator {
  display: inline-block;
  width: 144px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#labelLevel {
  margin-left: 5px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

.arrow {
  display: inline-block;
  font-family: 'Comic Sans MS';
  padding: 0.25em 0.4em 0.2em;
  cursor: pointer;

  &.left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.left:not(.disabled):hover,
  &.right:not(.disabled):hover {
    border-color: transparent;
  }
  &.disabled {
    opacity: 0.5;
  }  
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-right: 10px;
  background-color: #D11606;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;

  &:active, &:focus {
    outline: none;
  }
  &:not(.disabled):hover {
    background-color: #F12D22;
  }  
}

#next {
  position: absolute;
  right: 1em;
  bottom: 1em;

  &.disabled {
    opacity: 0.5;
  }  
}

.credits {
  margin-top: 1.5em;  
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

#language {
  position: relative;

  .toggle {
    display: inline-block;
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    user-select: none;
  }

  .toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tooltip {
    display: block;
    bottom: 30px;
    left: 0px;
    width: 200px;
    padding: 1em;
  }

  .tooltip:after {
    top: auto;
    bottom: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #2c3e50;
    border-bottom: none;
  }

  .tooltip a {
    display: inline-block;
    padding: 0 4px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
  }

  .tooltip a:hover {
    color: #fff;
  }  
}


#view {
    padding: 1em;
    width: 50%;
}
#board {
  position: relative;
  width: 45vw;
  height: 45vw;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
  border: 12px solid #6D5720;
  border-radius: 12px;
  margin-top: 20px;
}

#pond,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  background-color: #1F5768;
}

#backgroundHTML {
  z-index: 10;
  background-color: #1F5768;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#pond {
  z-index: 20;
}

.lilypad,
.frog {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }  
}

.frog {
  &.bounceOutUp {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
  }
  &.yellow .bg.bounce {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    animation-delay: .3s;
  }
  &.red .bg.bounce {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
  }  
  &.green .bg {
    background-image: url("./images/frog-green.svg");
  }
  &.red .bg {
    background-image: url("./images/frog-red.svg");
  }
  &.yellow .bg {
    background-image: url("./images/frog-yellow.svg");
  }

  .bg {
    background-size: 60% 60%;

    &.bounce {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      animation-duration: 2s;
    }  
  }
}

.lilypad{
  &.green .bg {
    background-image: url("./images/lilypad-green.svg");
  }

  &.red .bg {
    background-image: url("./images/lilypad-red.svg");
  }

  &.yellow .bg {
    background-image: url("./images/lilypad-yellow.svg");
  }
}

#garden,
#plants,
#overlay {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay {
  background-image: url(/static/media/dirt.d509989f.svg);
  background-repeat: round;
  background-size: 20%;
}

#plants {
  z-index: 30;
}

.plot {
  width: 100%;
  height: 100%;
  background-color: #6F532A;
  background-color: #836B32;
  background-image: url("./images/dirt.svg");
  background-size: calc(10vw - 4px);
}

#overlay .plot {
  z-index: 50;
  background: none;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #665235;
}

#garden {
  z-index: 20;
}

.plant,
.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    background-position: left top;
    background-size: calc(10vw - 8px);
    background-repeat: round;
  }
}

.treatment .bg {
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-width: 3px 5px 5px 3px;
}

.plant.water .bg {
  background-image: url("./images/carrots.svg");
}

.plant.poison .bg {
  background-image: url("./images/weeds.svg");
}

.plant.water.correct .bg {
  background-image: url("./images/carrots-correct.svg");
}

.plant.poison.correct .bg {
  background-image: url("./images/weeds-correct.svg");
}

.treatment.water .bg {
  background-color: rgba(81, 140, 179, 1);
  background-image: url("./images/water.svg");
  animation: scroll 6s linear infinite;
}

.treatment.poison .bg {
  background-color: #63393E;
  background-image: url("./images/poison.svg");
  animation: scroll 6s linear infinite;
}

#overlay.win:before {
  content: '';
  display: block;
  position: absolute;
  top: 18%;
  left: 41%;
  width: 8%;
  height: 8%;
  background-image: url("./images/froggy.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 110;
  animation: bounce 2s linear infinite;
}

#overlay.win:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/carrots-win.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 100;
}

#garden.win {
  display: none;
}

.grid-column-start-1 {
  grid-column-start: 1;
}

.grid-column-start-2 {
  grid-column-start: 2;
}

.grid-column-start-5 {
  grid-column-start: 5;
}

.grid-column-end-6 {
  grid-column-end: 6;
}

.grid-column-4 {
  grid-column: 4;
  grid-row: 1 / 6;
}

.grid-template-columns-repeat-8-12 {
  grid-template-columns: repeat(8, 12.5%) !important;
}

.grid-template-columns-100px-3em-40p {
  grid-template-columns: 100px 3em 40% !important;
}

.grid-template-columns-1fr-5fr {
  grid-template-columns: 1fr 5fr !important;
}

.grid-template-columns-75px-2fr-1fr {
  grid-template-columns: 75px 2fr 1fr !important;
}

.grid-template-columns-50px-1fr-1fr-1fr-50px {
  grid-template-columns: 50px 1fr 1fr 1fr 50px !important;
}

.grid-template-rows-50px-0-0-0-1fr {
  grid-template-rows: 50px 0 0 0 1fr !important;
}

.grid-template-rows-100p {
  grid-template-rows: 100% !important;
}

.grid-template-columns-6 {
  grid-template-columns: 75px 3fr 2fr !important;
  grid-template-rows: 100% !important;
}

.grid-area-1-1-6-2 {
  grid-area: 1 / 1 / 6 / 2;
}

.grid-area-5-1-6-6 {
  grid-area: 5 / 1 / 6 / 6;
}

.grid-area-1-5-6-6 {
  grid-area: 1 / 5 / 6 / 6;
}

.grid-template-2 {
  grid-template: 1fr 50px / 20% 1fr !important;
}


//===========================================================================================

#sidebar, #structure {
  width: 50%;
  min-width: 300px;
  position: relative;
  padding: 1em 0 1em 1em;
  background-color: $bgcolor;
  font-size: 15px;
}

#structure {
  width: 100%;
  padding: 1em 0 1em 1em;
}

.groupLesson {
  background: darken($bgcolor, 10%);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 15px 0 3px -11px;
  padding: 0px 10px;

  legend {
    margin-bottom: -15px;
  } 

  .groupLesson {
    background: darken($bgcolor, 20%);
    .groupLesson {
      background: darken($bgcolor, 30%);
      .groupLesson {
        background: darken($bgcolor, 10%);
        .groupLesson {
          background: darken($bgcolor, 20%);
          .groupLesson {
            background: darken($bgcolor, 30%);
            .groupLesson {
              background: darken($bgcolor, 10%);
              .groupLesson {
                background: darken($bgcolor, 20%);
                .groupLesson {
                  background: darken($bgcolor, 30%);
                }
              }
            }
          }
        }
      }
    }
  }
}

.fildLesson {
  margin: 10px 0;
  padding: 5px;

  &:first-of-type {
    margin-top: 25px;
  }

  &.warning {
    background: #f50c0c8c;
  }

  label {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: #fff;
  }

  textarea, select {
      display: block;
      width: 100%;
      margin: 0 !important;
  }
}
