* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"] {
  direction: rtl;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
  min-width: 600px;
  margin: 0;
  background-color: #43A047;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'PT Sans', sans-serif;
}

#root {
  width: 100%;
  margin: 0;

  .page {
    display: flex;
    width: 100%;
    margin: 0;
  }
}

#sidebar {
  width: 50%;
  min-width: 300px;
  position: relative;
  padding: 2em;
  background-color: #43A047;
  font-size: 15px;
}

.hide {
  display: none !important;
}
.show {
  display: block;
}

h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
}

pre {
  margin: 0;
}

code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

li {
  line-height: 1.5;
}

a {
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: #fff;
  }  
}

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 225px;
  padding: 0 1em 1em;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;

  &:after {
    content: '';
    position: absolute;
    top: -12px;
    left: 12px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2c3e50;
  }  
}

#share {
  // display: none;
  margin-bottom: 3em;
  text-align: center;
}

.fb-like {
  z-index: 20;
  vertical-align: top;
}

.img-next {
  text-align: center;

  img {
    display: inline-block;
    margin: 1em;
    width: 200px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }  
  }
}

#editor {
  position: relative;
}

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #aaa;
}

#css {
  height: 260px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 6px;
  text-align: right;
  background-color: #999;
  color: #D5D5D5;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}

#level-counter {
  float: right;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#levelsWrapper {
  top: 30px;
  right: 20px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;

  &:after {
    left: calc(50% - 12px);
  }  
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-marker {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  &.current,
  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  &.solved {
    background-color: #228B24;
  }  
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
}

#level-indicator {
  display: inline-block;
  width: 144px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#labelLevel {
  margin-left: 5px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

.arrow {
  display: inline-block;
  font-family: 'Comic Sans MS';
  padding: 0.25em 0.4em 0.2em;
  cursor: pointer;

  &.left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.left:not(.disabled):hover,
  &.right:not(.disabled):hover {
    border-color: transparent;
  }
  &.disabled {
    opacity: 0.5;
  }  
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #D11606;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;

  &:active, &:focus {
    outline: none;
  }
  &:not(.disabled):hover {
    background-color: #F12D22;
  }  
}

#next {
  position: absolute;
  right: 1em;
  bottom: 1em;

  &.disabled {
    opacity: 0.5;
  }  
}

.credits {
  margin-top: 1.5em;  
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

#language {
  position: relative;

  .toggle {
    display: inline-block;
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    user-select: none;
  }

  .toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tooltip {
    display: block;
    bottom: 30px;
    left: 0px;
    width: 200px;
    padding: 1em;
  }

  .tooltip:after {
    top: auto;
    bottom: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #2c3e50;
    border-bottom: none;
  }

  .tooltip a {
    display: inline-block;
    padding: 0 4px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
  }

  .tooltip a:hover {
    color: #fff;
  }  
}

#board {
  position: relative;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
}

#pond,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  border-radius: 0 0 0 10px;
  background-color: #1F5768;
}

#pond {
  z-index: 20;
}

.lilypad,
.frog {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }  
}

.frog {
  &.bounceOutUp {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
  }
  &.yellow .bg.bounce {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    animation-delay: .3s;
  }
  &.red .bg.bounce {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
  }  
  &.green .bg {
    background-image: url("./images/frog-green.svg");
  }
  &.red .bg {
    background-image: url("./images/frog-red.svg");
  }
  &.yellow .bg {
    background-image: url("./images/frog-yellow.svg");
  }

  .bg {
    background-size: 60% 60%;

    &.bounce {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      animation-duration: 2s;
    }  
  }
}

.lilypad{
  &.green .bg {
    background-image: url("./images/lilypad-green.svg");
  }

  &.red .bg {
    background-image: url("./images/lilypad-red.svg");
  }

  &.yellow .bg {
    background-image: url("./images/lilypad-yellow.svg");
  }
}

.wrap {
  flex-wrap: wrap;
}

.mdc-toolbar__row {
  padding: 0 28px;
}

.mdc-toolbar__section {
  align-items: center;
}

.mdc-tab-bar {
  margin: 0;
}


.mdc-permanent-drawer {
  left: 0;
  right: initial;
  border-right: 1px solid #e4e4e4;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 240px;
  box-sizing: border-box;
  overflow: hidden;

  .mdc-list-group, .mdc-list {
    padding-right: 0;
    padding-left: 0;
  }

  .mdc-list-item {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 48px;
    position: relative;
    padding: 0 16px;
    outline: none;
    color: inherit;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5rem;
  }

  .mdc-list--avatar-list .mdc-list-item {
      height: 56px;
  }

  .mdc-list-item__start-detail {
    color: rgba(0, 0, 0, 0.54);
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 50%;
  }
}


.content {
  display: flex;

  main:first-child {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
  }  
}

.mdc-card {
  height: 100%;
  justify-content: space-between;
}

.mdc-card__horizontal-block {
  padding: 0;
  justify-content: flex-start;
}

.mdc-card__primary .mdc-card__title--large {
  margin-bottom: .5em;
  padding-top: 0;
}

.mdc-card__subtitle {
  margin-bottom: .5em;
}

#login {
  margin: 3rem auto;

  form .mdc-textfield,
  form .mdc-button {
    width: 100%;
    display: block;
  }

  form .mdc-textfield {
    margin-bottom: 1rem;
  }  
}

#book .mdc-card {
  margin: 16px;
}

/* Not Found */
#not-found {
  text-align: center;
  margin-top: 3em;

  .material-icons {
    font-size: 4rem;
  }
}

.topics {
    display: -ms-flexbox;
    display: flex;
}

.mdc-card {
  height: 100%;
  justify-content: space-between;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
}

.mdc-card__horizontal-block {
  padding: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.mdc-card__actions {
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mdc-card__horizontal-block .mdc-card__media-item {
  margin-left: 16px;
  margin-right: 0;
}

.mdc-card__media-item--2x {
  width: auto;
  height: 160px;
}

.mdc-card__media-item {
  display: inline-block;
  width: auto;
  height: 80px;
  margin: 16px 0 0;
  padding: 0;
}

.mdc-card__primary {
  padding: 16px;

  &:last-child {
    padding-bottom: 24px;
  }
}

.mdc-card__primary .mdc-card__title--large {
  margin-bottom: .5em;
  padding-top: 0;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
  margin: 0;
}

.mdc-card__subtitle {
  margin-bottom: .5em;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.25rem;
  margin: -.063rem 0;
}

.mdc-card__actions {
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  .mdc-card__action:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  .mdc-card__action {
    margin: 0 8px 0 0;
  }
}

.mdc-button {
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5rem;
  display: inline-block;
  position: relative;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;

  &::before {
    background-color: rgba(0, 0, 0, 0.06);
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    -webkit-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.06);
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    -webkit-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
  }

  &:not(.mdc-ripple-upgraded--unbounded)::after {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }

  &:not(.mdc-ripple-upgraded) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
  }    
}

@media (min-width: 840px) {
  .mdc-layout-grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
    padding: var(--mdc-layout-grid-margin-desktop, 24px);
  }

  .mdc-layout-grid__inner {
      flex-flow: row wrap;
      align-items: stretch;
      display: grid;
      grid-gap: 24px;
      grid-gap: var(--mdc-layout-grid-gutter-desktop, 24px);
      margin: 0;
      grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .mdc-layout-grid__cell--span-6, .mdc-layout-grid__cell--span-6-desktop.mdc-layout-grid__cell--span-6-desktop {
    width: auto;
    grid-column-end: span 6;
  }

  .mdc-layout-grid__cell {
    width: auto;
    margin: 0;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1000px)  {

  body,
  #sidebar {
    // font-size: 13px;
  }
}
